img{
    width: 50%;
    height: auto;
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
  }

body{
  font-family: 'Fira Code', monospace;
  background-color: rgb(188, 188, 188);
}

h1{
  font-size: 25px;
  font-weight: 600;
  color:black;
}

h2{
  font-size: 20px;
  font-weight: 400;
  color: black;
}

p{
  font-size: 18px;
  font-weight: 300;
  color: black;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(224, 223, 223, 0.85);
  text-align: center;
}

/*typing animation*/

.css-typing p {
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  animation: typing 4s steps(20, end) forwards, blinking .8s infinite;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blinking {
  from { border-color: transparent }
  to { border-color: black; }
}


/*typing animation end*/